* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    font-size: 16px;
    font-family: 'Helvetica', sans-serif;
    line-height: 1.6;

    --background: #0f0f0f;
    --foreground: #fff;
    --blue: #0062cc;
    --royal-blue: #0072ff;
    --green: #89ce62;
}

html, body, main {
    height: 100%;
}

body {
    background-color: var(--background);
    color: var(--foreground);
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.title {
    font-size: 4rem;
    color: var(--royal-blue);
}

.subtitle {
    font-size: 1rem;
    color: white;
    margin-bottom: 1rem;
}

input {
    padding: 0.5rem 1rem;
    flex-grow: 2;
    border: none;
    -webkit-appearance: none;
    -webkit-border-radius: 0;
    border-radius: 0;
}

label {
    padding: 0.5rem 1rem;
}

button {
    padding: 0.5rem 1rem;
    background-color: var(--blue);
    color: white;
    cursor: pointer;
    border: 2px solid var(--blue);
}

.submit-box {
    display: flex;
    width: 75%;
}

.submit-label {
    border: 2px solid white;
}

.answer {
    padding: 2rem;
    margin: 1rem 0;
    border: 2px solid white;
    background-color: var(--blue);
    text-align: center;
}

.answer a {
    color: black;
    background-color: white;
    display: block;
    padding: 1rem 0.5rem;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    flex-grow: 2;
}

.answer img {
    height: 300px;
    width: auto;
}

.answer-link {
    display: flex;
}

.answer .answer-clipboard {
    flex-grow: 1;
    background-color: black;
    border: 2px solid black;
}